* {
	box-sizing: border-box;
}

body {
	background-color: #EBF0F3;
	color: #476D8A;
	font-family: Muli, sans-serif;
	font-size: 17px;
	text-align: center;
	margin: 0;
}

h1 {
	font-family: Roboto, Muli, sans-serif;
	background: #C4CDD4;
	color: #476D8A;
	font-size: 2.2em;
	padding: 1em;
	margin: 0;
}

nav {
	margin: 0;
	padding: 0;
	overflow: hidden;
    background-color: #577399;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    font-size: .9em;
}

#nav {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
    background-color: #577399;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #8895B3;
}

.active {
    background-color: #DABF94;
}

main {
	width: 100%;
}

.focalpoint {

}

#slogan {
	font-style: italic;
	font-size: 28px;
	color: #818D92;
	text-align: center;
	font-weight: normal;
	margin: 0;
}

img.resize {
/*	max-width: 40%;
	max-height: 40%;*/
	margin-top: 0;
	margin-bottom: 0;
}


#one, #three {
	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-wrap: wrap;
	color: #476D8A;
	font-size: 17px;
	line-height: 1.5em;
	margin: 3.5em;
	margin-top: 2em;
}

.info {
	width: 600px;
	display: flex;
	text-align: left;
}

#contactme {
	background-color: #577399;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

#contactme:hover {
	background: #4a6c6f;
}

.therapy, .volunteer, .certification {
	width: 600px;
}

#two_column {
	padding: 20px;
}

#left {
    padding: 20px;
    float: left;
    width: 30%;
    margin-left: 4em;
    line-height: 1.5em;
}

#right {
    padding: 20px;
    float: right;   
    width: 62%;
}

/*#therapy_img {
	max-height: 50%;
	max-width: 50%;
	float: left;
	padding: .5em;
}*/

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

/*.vol_img {
	float: left;
}*/